<p><em><%= senderName %></em> has sent <%= recipientListString %> a message in chapter <em><%= chapterTitle %></em>.</p>

<p>The message is:</p>
<blockquote style="white-space: pre-wrap;"><%= messageText %></blockquote>

<p>You can see it in context, and reply, at <a href="<%= chapterUrl %>"><%= chapterUrl %></a>.</p>
