<p><em><%= characterName %></em> reacted to chapter <em><%= chapterTitle %></em> (part of <em><%= narrationTitle %></em>).</p>

<p>The reaction was:</p>
<blockquote style="white-space: pre-wrap;"><%= reactionText %></blockquote>

<p>You can see it in context at <a href="<%= chapterUrl %>"><%= chapterUrl %></a>.</p>
